<!DOCTYPE html>
<html lang="en">
<style>
    form,h1{
        margin-left: 100px;
    }
    body{
         background-color: rgb(189, 183, 183);
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ texts.register_page_title }}</title>
</head>
<body>
    <h1>{{ texts.register_page_title }}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">{{ texts.username_label }}</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">{{ texts.password_label }}</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">{{ texts.register }}</button>
    </form>
</body>
